<div class="book-page">
  <a href="/books">Voltar para página Books</a>

  <div class="container">
    <h1 style="margin-bottom: 20px;">{{book.title}}</h1>
    <h2>ID: {{book.id}} - Esse livro tem {{book.h2ageqty}} páginas.</h2>
  </div>
</div>