<h1>OLÁ, PÁGINA DASHBOARD!!</h1>

{{#each games}}
<h2>ID: {{this.id}} Jogo: {{this.nome}}</h2>
{{/each}}

<a href="/">Voltar à página INICIAL!!</a> </br>
<a href="/blogpost">Ir para a página BLOGPOST!!</a>