<h1>PÁGINA HANDLEBARS!</h1>

<h2>Seu nome e sobrenome é: {{user.name}} {{user.surname}}!!</h2>

{{#if isLoaded}}
<h1>OK!! Você está logado!! :D
  <a href="./dashboard">Clique AQUI!!</a>
</h1>

{{else}}
<h1>Você não está logado!!</h1>
{{/if}}

{{!-- {{> post}} --}}

<p>Apenas um texto de teste!!</p>