<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NODE + MySQL</title>
</head>

<body>
  <nav>Título da Página</nav>

  {{{body}}}

  <footer>Footer da Página</footer>
</body>

</html>