<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>NODE + MySQL</title>
</head>

<body>
  <nav 
  style="margin-bottom: 100px; font-weight: bold; text-align: center;">Título da Página</nav>

  {{{body}}}

  <footer style="margin-top: 100px; font-weight: bold; text-align: center;">Footer da Página</footer>
</body>

</html>